@model UAndes.ICC5103._202301.Models.EnajenacionViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Consult</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>CONSULTAR DECLARACIÓN SOBRE ENAJENACIÓN E INSCRIPCIÓN DE BIENES RAÍCES (F2890)</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="card">
        <div style="background: #0e2b45; color: white; padding:5px;">
            <h4 style="padding: 0.5%; padding-left: 1%; margin:0;">
                INFORMACIÓN DE LA PROPIEDAD ENAJENADA
            </h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote" style="border-left: 2.5px solid #eeeeee; border-right: 2.5px solid #eeeeee; border-bottom: 2.5px solid #eeeeee; ">
                <div class="row g-4">
                    <div class="col-md-3" style="padding:0;">
                        <div class="col-md-3" style="padding:0;">
                            @Html.LabelFor(model => model.Enajenacion.Comuna, htmlAttributes: new { @class = "form-control", @style = "background: #ededed; border-radius:0; padding-left: 5%; color:#0e2b45;" })
                        </div>
                        <div class="col-md-8" style="padding:0;">
                            @Html.EditorFor(model => model.Enajenacion.Comuna, new { htmlAttributes = new { @class = "form-control", @style = "border-radius:0; max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.Enajenacion.Comuna, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3" style="padding:0;">
                        <div class="col-md-3" style="padding:0;">
                            @Html.LabelFor(model => model.Enajenacion.Manzana, htmlAttributes: new { @class = "form-control", @style = "background: #ededed; border-radius:0; padding-left: 5%; color:#0e2b45;" })
                        </div>
                        <div class="col-md-8" style="padding:0;">
                            @Html.EditorFor(model => model.Enajenacion.Manzana, new { htmlAttributes = new { @class = "form-control", @style = "border-radius:0; max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.Enajenacion.Manzana, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3" style="padding:0;">
                        <div class="col-md-3" style="padding:0;">
                            @Html.LabelFor(model => model.Enajenacion.Predio, htmlAttributes: new { @class = "form-control", @style = "background: #ededed; border-radius:0; padding-left: 5%; color:#0e2b45;" })
                        </div>
                        <div class="col-md-8" style="padding:0;">
                            @Html.EditorFor(model => model.Enajenacion.Predio, new { htmlAttributes = new { @class = "form-control", @style = "border-radius:0; max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.Enajenacion.Predio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3" style="padding:0;">
                        <div class="col-md-3" style="padding:0;">
                            @Html.LabelFor(model => model.Enajenacion.FechaInscripcion, htmlAttributes: new { @class = "form-control", @style = "background: #ededed; border-radius:0; padding-left: 5%; color:#0e2b45;" })
                        </div>
                        <div class="col-md-8" style="padding:0;">
                            @Html.EditorFor(model => model.Enajenacion.FechaInscripcion, new { htmlAttributes = new { @class = "form-control", @style = "border-radius:0; max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.Enajenacion.FechaInscripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>




    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 bg-light text-right">
                    <button class="btn btn-primary" type="submit" style="margin:20px">Guardar</button>
                </div>
            </div>
        </div>
    </div>



}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
