@model UAndes.ICC5103._202301.Models.EnajenacionViewModel

@{
    ViewBag.Title = "Consult";
}

<head>
    <link rel="stylesheet" href="~/Content/Site.css">

    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                var comuna = $('.comuna-validate').val();
                var manzana = $('.manzana-validate').val();
                var predio = $('.predio-validate').val();
                var year = $('.year-validate').val();
                var isValid = true;

                if (comuna === '') {
                    isValid = false;
                    $('.comuna-error').text('Este campo es obligatorio');
                } else {
                    $('.comuna-error').text('');
                }

                if (manzana === '') {
                    isValid = false;
                    $('.manzana-error').text('Este campo es obligatorio');
                } else {
                    $('.manzana-error').text('');
                }

                if (predio === '') {
                    isValid = false;
                    $('.predio-error').text('Este campo es obligatorio');
                } else {
                    $('.predio-error').text('');
                }

                if (year === '') {
                    isValid = false;
                    $('.year-error').text('Este campo es obligatorio');
                } else {
                    $('.year-error').text('');
                }

                return isValid;
            });
        });


    </script>
</head>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>Consulta de Propietarios de un Predio</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div>
        <div class="row g-4">
            <div class="form-group">
                <label class="control-label col-md-2">Comuna:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control comuna-validate" name="comuna" placeholder="Ingrese Comuna">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Manzana:</label>
                <div class="col-md-10">
                    <input type="number" class="form-control manzana-validate" name="manzana" placeholder="Ingrese Manzana">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Predio:</label>
                <div class="col-md-10">
                    <input type="number" class="form-control predio-validate" name="predio" placeholder="Ingrese Predio">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Año:</label>
                <div class="col-md-10">
                    <input type="number" class="form-control year-validate" name="year" placeholder="Ingrese Año">
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 bg-light text-right">
                    <button class="btn btn-primary" type="submit" id="btn-primary">Buscar</button>
                </div>
            </div>
        </div>
    </div>
}



@if (Model != null && Model.Adquirientes.Count > 0)
{
    <h4>Enajenates</h4>

    <table class="table">
        <tr>
            <th>Rut</th>
            <th>% Derechos</th>
            <th>Fojas</th>
            <th>Nro.</th>
            <th>Año</th>
            <th>Fecha de Inscripción</th>
        </tr>

        @foreach (var enaje in Model.Enajenacions)
        {

            foreach (var item in Model.Enajenantes)
            {
                if (enaje.Id == item.IdEnajenacion)
                {
                    <tr>
                        <td>@item.RutEnajenante</td>
                        <td>@item.PorcentajeEnajenante</td>
                        <td>@enaje.Fojas</td>
                        <td>@enaje.IdInscripcion</td>
                        <td>@Model.Year</td>
                        <td>@enaje.FechaInscripcion</td>

                    </tr>
                }
            }
        }
    </table>
}
@if (Model != null && Model.Adquirientes.Count > 0)
{
    <h4>Adquirientes</h4>
    <table class="table">
        <tr>
            <th>Rut</th>
            <th>% Derechos</th>
            <th>Fojas</th>
            <th>Nro.</th>
            <th>Año</th>
            <th>Fecha de Inscripción</th>
        </tr>

        @foreach (var enaje in Model.Enajenacions)
        {

            foreach (var item in Model.Adquirientes)
            {
                if (enaje.Id == item.IdEnajenacion)
                {
                    <tr>
                        <td>@item.RutAdquiriente</td>
                        <td>@item.PorcentajeAdquiriente</td>
                        <td>@enaje.Fojas</td>
                        <td>@enaje.IdInscripcion</td>
                        <td>@Model.Year</td>
                        <td>@enaje.FechaInscripcion</td>

                    </tr>
                }
            }
        }
    </table>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

