@model UAndes.ICC5103._202301.Models.EnajenacionViewModel

@{
    ViewBag.Title = "Consult";
}

<head>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>
        Consulta de Propietarios de un Predio
    </h3>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        <div class="row">
            <div class="col-md-4" id="card-body-col">
                <div class="col-md-4" id="card-body-col">
                    @Html.LabelFor(model => model.Enajenacion.Comuna, htmlAttributes: new { @class = "form-control", @id = "form-label" })
                </div>
                <div class="col-md-8" id="card-body-col">
                    @Html.DropDownListFor(model => model.Enajenacion.Comuna, new SelectList(@Model.ComunaOptions, "Valor", "Comuna"), "Selecione la comuna", new { @class = "form-control  form-control-input", @id = "form-editor" })
                    @Html.ValidationMessageFor(model => model.Enajenacion.Comuna, "*Campo obligatorio*", new { @class = "text-danger text-padding" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="card-body-col">
                <div class="col-md-4" id="card-body-col">
                    @Html.LabelFor(model => model.Enajenacion.Manzana, htmlAttributes: new { @class = "form-control", @id = "form-label" })
                </div>
                <div class="col-md-8" id="card-body-col">
                    @Html.EditorFor(model => model.Enajenacion.Manzana, new { htmlAttributes = new { @class = "form-control  form-control-input", @id = "form-editor", placeholder = "Ingrese Manzana" } })
                    @Html.ValidationMessageFor(model => model.Enajenacion.Manzana, "*Campo obligatorio*", new { @class = "text-danger text-padding" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="card-body-col">
                <div class="col-md-4" id="card-body-col">
                    @Html.LabelFor(model => model.Enajenacion.Predio, htmlAttributes: new { @class = "form-control", @id = "form-label" })
                </div>
                <div class="col-md-8" id="card-body-col">
                    @Html.EditorFor(model => model.Enajenacion.Predio, new { htmlAttributes = new { @class = "form-control  form-control-input", @id = "form-editor", placeholder = "Ingrese Predio" } })
                    @Html.ValidationMessageFor(model => model.Enajenacion.Predio, "*Campo obligatorio*", new { @class = "text-danger text-padding" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="card-body-col">
                <div class="col-md-4" id="card-body-col">
                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "form-control", @id = "form-label" })
                </div>
                <div class="col-md-8" id="card-body-col">
                    @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @id = "validatorYear", placeholder = "Ingrese Año" } })
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 bg-light text-right">
                    <button class="btn btn-primary" type="submit" id="btn-primaryy">Buscar</button>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Adquirientes != null)
{
    <table class="table">

        <tr>
            <th>Rut</th>
            <th>% Derechos</th>
            <th>Fojas</th>
            <th>Nro.</th>
            <th>Año</th>
            <th>Fecha de Inscripción</th>
        </tr>

        @foreach (var item in Model.Adquirientes)
         {
            <tr>
                <td>@item.RutAdquiriente</td>
                <td>@item.PorcentajeAdquiriente</td>
                <td>@Model.Enajenacion.Fojas</td>
                <td>@Model.Enajenacion.IdInscripcion</td>

                @if (Model.Enajenacion.FechaInscripcion.Year <= 2019)
                {
                    <td>2019</td>
                }
                else
                {
                    <td>@Model.Enajenacion.FechaInscripcion.Year</td>
                }

                <td>@Model.Enajenacion.FechaInscripcion</td>
            </tr>
         }
        
    </table>
}

@if (Model.Adquirientes == null)
{
    <h4>No hay Datos</h4>
}

<script>

    var elements = document.getElementsByClassName("text-padding");
    for (var i = 0; i < elements.length; i++)
    {
        elements[i].style.display = "none";
    }

    var btnSave = document.getElementById("btn-primaryy");
    btnSave.addEventListener("click", function (event) {

        var elementsInput = document.getElementsByClassName("form-control-input")
        for (var i = 0; i < elementsInput.length; i++)
        {
            if (elementsInput[i].value.length == 0)
            {
                elements[i].style.display = "block";
            }
            else
            {
                elements[i].style.display = "none";
            }
        }

        var year = parseInt(document.getElementById("validatorYear").value);
        if (year < 2019)
        {
            alert("El año tiene que ser superior/igual al 2019.")
            event.preventDefault();
        }
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}