@model UAndes.ICC5103._202301.Models.EnajenacionViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>NUEVA DECLARACIÓN SOBRE ENAJENACIÓN E INSCRIPCIÓN DE BIENES RAÍCES (F2890)</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card">
        <div style="background: #0e2b45; color: white; padding:5px;">
            <h4 style="padding: 0.5%; padding-left: 1%; margin:0;">
                INFORMACIÓN DE LA ESCRITURA
            </h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote" style="border-left: 2.5px solid #eeeeee; border-right: 2.5px solid #eeeeee; border-bottom: 2.5px solid #eeeeee; ">
                <div class="row g-2">
                    <div class="col-md-6" style="padding:0;">
                        <div class="col-md-4" style="padding:0;">
                            @Html.LabelFor(model => model.Enajenacion.CNE, htmlAttributes: new { @class = "form-control", @style = "background: #ededed; border-radius:0; padding-left: 5%; color:#0e2b45;" })
                        </div>
                        <div class="col-md-8" style="padding:0;">
                            @Html.DropDownListFor(model => model.Enajenacion.CNE, new SelectList(@Model.CNEOptions, "Valor", "Descripcion"), "-- Seleccione una opción --", new { @class = "form-control", @style = "border-radius:0; max-width:100%;" })
                            @Html.ValidationMessageFor(model => model.Enajenacion.CNE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>

    <div class="card">
        <div style="background: #0e2b45; color: white; padding:5px;">
            <h4 style="padding: 0.5%; padding-left: 1%; margin:0;">
                INFORMACIÓN DE LA PROPIEDAD ENAJENADA
            </h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote" style="border-left: 2.5px solid #eeeeee; border-right: 2.5px solid #eeeeee; border-bottom: 2.5px solid #eeeeee; ">
                <div class="row g-3">
                    <div class="col-md-4" style="padding:0;">
                        <div class="col-md-4" style="padding:0;">
                            @Html.LabelFor(model => model.Enajenacion.Comuna, htmlAttributes: new { @class = "form-control", @style = "background: #ededed; border-radius:0; padding-left: 5%; color:#0e2b45;" })
                        </div>
                        <div class="col-md-8" style="padding:0;">
                            @Html.EditorFor(model => model.Enajenacion.Comuna, new { htmlAttributes = new { @class = "form-control", @style = "border-radius:0; max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.Enajenacion.Comuna, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4" style="padding:0;">
                        <div class="col-md-4" style="padding:0;">
                            @Html.LabelFor(model => model.Enajenacion.Manzana, htmlAttributes: new { @class = "form-control", @style = "background: #ededed; border-radius:0; padding-left: 5%; color:#0e2b45;" })
                        </div>
                        <div class="col-md-8" style="padding:0;">
                            @Html.EditorFor(model => model.Enajenacion.Manzana, new { htmlAttributes = new { @class = "form-control", @style = "border-radius:0; max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.Enajenacion.Manzana, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4" style="padding:0;">
                        <div class="col-md-4" style="padding:0;">
                            @Html.LabelFor(model => model.Enajenacion.Predio, htmlAttributes: new { @class = "form-control", @style = "background: #ededed; border-radius:0; padding-left: 5%; color:#0e2b45;" })
                        </div>
                        <div class="col-md-8" style="padding:0;">
                            @Html.EditorFor(model => model.Enajenacion.Predio, new { htmlAttributes = new { @class = "form-control", @style = "border-radius:0; max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.Enajenacion.Predio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>


    <div class="card">
        <div style="background: #0e2b45; color: white; padding:5px;">
            <h4 style="padding: 0.5%; padding-left: 1%; margin:0;">
                INFORMACIÓN DE LOS ENAJENANTES(S) O CAUSANTE(S)
            </h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote" style="border-left: 2.5px solid #eeeeee; border-right: 2.5px solid #eeeeee; border-bottom: 2.5px solid #eeeeee; ">
                <table id="myTableEnajenantes">
                    <thead>
                        <tr>
                            <th>RutEnajenante</th>
                            <th>PorcentajeEnajenante</th>
                            <th>CheckEnajenante</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button type="button" onclick="addRowEnajenantes()" class="btn btn-primary" style="background: #d95b2a; border-color: #d95b2a; margin-top: 5px;">Agregar</button>
            </blockquote>
        </div>
    </div>



    <div class="card">
        <div style="background: #0e2b45; color: white; padding:5px;">
            <h4 style="padding: 0.5%; padding-left: 1%; margin:0;">
                INFORMACIÓN DE LOS ADQUIRIENTES(S) O HEREDEROS(S)
            </h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote" style="border-left: 2.5px solid #eeeeee; border-right: 2.5px solid #eeeeee; border-bottom: 2.5px solid #eeeeee; ">
                <table id="myTableAdquirientes">
                    <thead>
                        <tr>
                            <th scope="col">RutAdquiriente</th>
                            <th scope="col">PorcentajeAdquiriente</th>
                            <th scope="col">CheckAdquiriente</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button type="button" onclick="addRowAdquirientes()" class="btn btn-primary" style="background:#d95b2a; border-color:#d95b2a; margin-top:5px;">Agregar</button>
            </blockquote>
        </div>
    </div>


    <div class="card">
        <div style="background: #0e2b45; color: white; padding:5px;">
            <h4 style="padding: 0.5%; padding-left: 1%; margin:0;">
                INSCRIPCIÓN (Esta sección debe ser llenada exclusivamente por un Conservador o Notario-Conservador)
            </h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote" style="border-left: 2.5px solid #eeeeee; border-right: 2.5px solid #eeeeee; border-bottom: 2.5px solid #eeeeee; ">
                <div class="row g-1">
                    <div class="col-md-6" style="padding:0;">
                        <div class="col-md-4" style="padding:0;">
                            @Html.LabelFor(model => model.Enajenacion.Fojas, htmlAttributes: new { @class = "form-control", @style = "background: #ededed; border-radius:0; padding-left: 5%; color:#0e2b45;" })
                        </div>
                        <div class="col-md-8" style="padding:0;">
                            @Html.EditorFor(model => model.Enajenacion.Fojas, new { htmlAttributes = new { @class = "form-control", @style = "border-radius:0; max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.Enajenacion.Fojas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row g-2">
                    <div class="col-md-6" style="padding:0;">
                        <div class="col-md-4" style="padding:0;">
                            @Html.LabelFor(model => model.Enajenacion.IdInscripcion, htmlAttributes: new { @class = "form-control", @style = "background: #ededed; border-radius:0; padding-left: 5%; color:#0e2b45;" })
                        </div>
                        <div class="col-md-8" style="padding:0;">
                            @Html.EditorFor(model => model.Enajenacion.IdInscripcion, new { htmlAttributes = new { @class = "form-control", @style = "border-radius:0; max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.Enajenacion.IdInscripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6" style="padding:0;">
                        <div class="col-md-4" style="padding:0;">
                            @Html.LabelFor(model => model.Enajenacion.FechaInscripcion, htmlAttributes: new { @class = "form-control", @style = "background: #ededed; border-radius:0; padding-left: 5%; color:#0e2b45;" })
                        </div>
                        <div class="col-md-8" style="padding:0;">
                            @Html.EditorFor(model => model.Enajenacion.FechaInscripcion, new { htmlAttributes = new { @class = "form-control", @style = "border-radius:0; max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.Enajenacion.FechaInscripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 bg-light text-right">
                    <button class="btn btn-primary" type="submit" style="margin:20px">Guardar</button>
                </div>
            </div>
        </div>
    </div>



    <script>
            function addRowEnajenantes() {
            var table = document.getElementById("myTableEnajenantes");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            cell1.innerHTML = '@Html.Raw(Html.EditorFor(model => model.Enajenantes[0].RutEnajenante, new { htmlAttributes = new { @class = "form-control" } }).ToHtmlString())';;
            cell2.innerHTML = '@Html.Raw(Html.EditorFor(model => model.Enajenantes[0].PorcentajeEnajenante, new { htmlAttributes = new { @class = "form-control" } }).ToHtmlString())';
            cell3.innerHTML = '@Html.Raw(Html.EditorFor(model => model.Enajenantes[0].CheckEnajenante, new { htmlAttributes = new { @class = "form-control" } }).ToHtmlString())';
            cell4.innerHTML = "<button onclick='deleteThisRow(this)'>X</button>";
        }

        function addRowAdquirientes() {
            var table = document.getElementById("myTableAdquirientes");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            cell1.innerHTML = '@Html.Raw(Html.EditorFor(model => model.Adquirientes[0].RutAdquiriente, new { htmlAttributes = new { @class = "form-control" } }).ToHtmlString())';
            cell2.innerHTML = '@Html.Raw(Html.EditorFor(model => model.Adquirientes[0].PorcentajeAdquiriente, new { htmlAttributes = new { @class = "form-control" } }).ToHtmlString())';
            cell3.innerHTML = '@Html.Raw(Html.EditorFor(model => model.Adquirientes[0].CheckAdquiriente, new { htmlAttributes = new { @class = "form-control" } }).ToHtmlString())';
            cell4.innerHTML = "<button onclick='deleteThisRow(this)'>X</button>";
        }

        function deleteThisRow(btn) {
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
    </script>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
