@model UAndes.ICC5103._202301.Models.EnajenacionViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Confirmas que quieres eliminar este formulario?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            CNE
        </dt>

        <dd>
            @Model.SelectDescripcion
        </dd>

        <dt>
            Comuna
        </dt>

        <dd>
            @Model.SelectComuna
        </dd>

        <dt>
            Manzana
        </dt>

        <dd>
            @Model.Enajenacion.Manzana
        </dd>

        <dt>
            Predio
        </dt>

        <dd>
            @Model.Enajenacion.Predio
        </dd>

        <dt>
            Fojas
        </dt>

        <dd>
            @Model.Enajenacion.Fojas
        </dd>

        <dt>
            Fecha de Inscripcion
        </dt>

        <dd>
            @Model.Enajenacion.FechaInscripcion
        </dd>

        <dt>
            Numero de Inscripcion
        </dt>

        <dd>
            @Model.Enajenacion.IdInscripcion
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la pantalla principal", "Index")
        </div>
    }
</div>
