@model UAndes.ICC5103._202301.Models.EnajenacionViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Confirmas que quieres eliminar este formulario?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            CNE
        </dt>

        <dd>
            @Model.SelectDescripcion
        </dd>

        <dt>
            Comuna
        </dt>

        <dd>
            @Model.SelectComuna
        </dd>

        <dt>
            Manzana
        </dt>

        <dd>
            @Model.Enajenacion.Manzana
        </dd>

        <dt>
            Predio
        </dt>

        <dd>
            @Model.Enajenacion.Predio
        </dd>

        <dt>
            Fojas
        </dt>

        <dd>
            @Model.Enajenacion.Fojas
        </dd>

        <dt>
            Fecha de Inscripcion
        </dt>

        <dd>
            @Model.Enajenacion.FechaInscripcion
        </dd>

        <dt>
            Numero de Inscripcion
        </dt>

        <dd>
            @Model.Enajenacion.IdInscripcion
        </dd>

        <dt>
            Vigencia
        </dt>

        <dd>
            <input type="checkbox" name="vigente" value="@Model.Enajenacion.Vigente" @(Model.Enajenacion.Vigente ? "checked" : "") disabled>
        </dd>

    </dl>

    @if (Model.Adquirientes.Count != 0)
    {
        <table class="table">

            <tr>
                <th>Rut</th>
                <th>Porcentaje</th>
                <th>Check</th>
                <th>Fojas</th>
            </tr>

            @foreach (var item in Model.Adquirientes)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.RutAdquiriente)</td>
                    <td class="percentages">@Html.DisplayFor(modelItem => item.PorcentajeAdquiriente)</td>
                    <td>@Html.DisplayFor(modelItem => item.CheckAdquiriente)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fojas)</td>
                </tr>
            }

        </table>
    }

    <script>

    function setTwoDecimals(numero) {
        const parts = numero.toString().split(',');

        if (parts.length === 1) {
            return parts[0];
        } else {
            let decimals = parts[1].substring(0, 2);
            if (decimals.length == 2 && parts[1][2] != undefined) {
                if (parseInt(parts[1][2]) >= 5) {
                    decimals = parseInt(decimals) + 1;
                }
            }
            return `${parts[0]},${decimals}`;
        }
    }

    let percentages = document.getElementsByClassName("percentages");
    for (let i in percentages) {
        if (percentages[i].textContent != undefined) {
            percentages[i].textContent = setTwoDecimals(percentages[i].textContent);
        }
    }
    </script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la pantalla principal", "Index")
        </div>
    }
</div>
