@model UAndes.ICC5103._202301.Models.EnajenacionViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enajenacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            CNE
        </dt>

        <dd>
            @Model.SelectDescripcion
        </dd>

        <dt>
            Comuna
        </dt>

        <dd>
            @Model.SelectComuna
        </dd>

        <dt>
            Manzana
        </dt>

        <dd>
            @Model.Enajenacion.Manzana
        </dd>

        <dt>
            Predio
        </dt>

        <dd>
            @Model.Enajenacion.Predio
        </dd>

        <dt>
            Fojas
        </dt>

        <dd>
            @Model.Enajenacion.Fojas
        </dd>

    </dl>

    <table class="table">
        <tr>

            <th>
                Rut Enajenante
            </th>

            <th>
                Porcentaje Enajenante
            </th>

            <th>
                Check Enajenante
            </th>

        </tr>

        @foreach (var item in Model.Enajenantes)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.RutEnajenante)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PorcentajeEnajenante)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CheckEnajenante)
                </td>

            </tr>
        }

    </table>

    <table class="table">
        <tr>

            <th>
                Rut Adquiriente
            </th>

            <th>
                Porcentaje Adquiriente
            </th>

            <th>
                Check Adquiriente
            </th>

        </tr>

        @foreach (var item in Model.Adquirientes)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.RutAdquiriente)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PorcentajeAdquiriente)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CheckAdquiriente)
                </td>

            </tr>
        }

    </table>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
