@model UAndes.ICC5103._202301.Models.EnajenacionViewModel

@{
    ViewBag.Title = "Details";
}

<head>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

<div>
    <h3>Detalles</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            CNE
        </dt>

        <dd>
            @Model.SelectDescripcion
        </dd>

        <dt>
            Comuna
        </dt>

        <dd>
            @Model.SelectComuna
        </dd>

        <dt>
            Manzana
        </dt>

        <dd>
            @Model.Enajenacion.Manzana
        </dd>

        <dt>
            Predio
        </dt>

        <dd>
            @Model.Enajenacion.Predio
        </dd>

        <dt>
            Fojas
        </dt>

        <dd>
            @Model.Enajenacion.Fojas
        </dd>

    </dl>
</div>

@if (Model.Enajenantes.Count != 0)
{
    <table class="table">
            
        <tr>
            <th>Rut Enajenante</th>
            <th>Porcentaje Enajenante</th>
            <th>Check Enajenante</th>
        </tr>

        @foreach (var item in Model.Enajenantes)
         {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RutEnajenante)</td>
                <td>@Html.DisplayFor(modelItem => item.PorcentajeEnajenante)</td>
                <td>@Html.DisplayFor(modelItem => item.CheckEnajenante)</td>
            </tr>
         }

    </table>
 }

@if (Model.Adquirientes.Count != 0)
{
    <table class="table">

        <tr>
            <th>Rut Adquiriente</th>
            <th>Porcentaje Adquiriente</th>
            <th>Check Adquiriente</th>
        </tr>

        @foreach (var item in Model.Adquirientes)
         {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RutAdquiriente)</td>
                <td class="percentages">@Html.DisplayFor(modelItem => item.PorcentajeAdquiriente)</td>
                <td>@Html.DisplayFor(modelItem => item.CheckAdquiriente)</td>
            </tr>
         }

    </table>
}

<script>

    function setTwoDecimals(numero) {
        const parts = numero.toString().split(',');

        if (parts.length === 1) {
            return parts[0];
        } else {
            let decimals = parts[1].substring(0, 2);
            if (decimals.length == 2 && parts[1][2] != undefined) {
                if (parseInt(parts[1][2]) >= 5) {
                    decimals = parseInt(decimals) + 1;
                }
            }
            return `${parts[0]},${decimals}`;
        }
    }

    let percentages = document.getElementsByClassName("percentages");
    for (let i in percentages) {
        if (percentages[i].textContent != undefined) {
            percentages[i].textContent = setTwoDecimals(percentages[i].textContent);
        }
    }
</script>
