@model UAndes.ICC5103._202301.Models.EnajenacionViewModel


@{
    ViewBag.Title = "Index";

}

<head>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

<div>
    <h3>INFORMACIÓN GENERAL</h3>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enajenacion.CNE)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Enajenacion.Comuna)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Enajenacion.Manzana)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Enajenacion.Predio)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Enajenacion.Fojas)
            </th>

            <th>
                Fecha de Inscripcion
            </th>

            <th>
                Id
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.Enajenacions)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => Model.Descripcion[item.CNE])</td>
                <td>@Html.DisplayFor(modelItem => Model.Comuna[item.Comuna])</td>
                <td>@Html.DisplayFor(modelItem => item.Manzana)</td>
                <td>@Html.DisplayFor(modelItem => item.Predio)</td>
                <td>@Html.DisplayFor(modelItem => item.Fojas)</td>
                <td class="inscriptionDate">@Html.DisplayFor(modelItem => item.FechaInscripcion)</td>
                <td>@Html.DisplayFor(modelItem => item.IdInscripcion)</td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id})
                </td>
            </tr>
        }

    </table>
</div>

<script>
    let inscriptionDate = document.getElementsByClassName("inscriptionDate");
    for (let i in inscriptionDate) {
        if (inscriptionDate[i].textContent != undefined) {
            inscriptionDate[i].textContent = (inscriptionDate[i].textContent).split(' ')[0];
        }
    }
</script>